Server/types
Server/.buildignore
Server/.eslintignore
Server/.eslintrc.json
Server/build.mjs
Server/node_modules/
Server/package-lock.json
Server/dist
Server/ABPSConfig.exe
Server/ABPSConfig.pdb
Server/Core
Server/wwwroot
Server/ConfigApp/obj
Server/ConfigApp/bin
Server/ConfigApp/ABPSConfig.csproj.user
Server/ConfigApp/.vs
Server/ConfigApp/Properties/PublishProfiles/FolderProfile.pubxml.user
Server/ABPSConfig.pdb
Server/ConfigApp/config
Server/ConfigApp/Properties/PublishProfiles
Server/ABPSConfig.staticwebassets.endpoints.json
Client/.vs
Client/bin
Client/obj
Client/release
Client/Patches/GameWorldPatch.cs
Client/Utils/SpawnPointGetter.cs